"env": {
  "browser": true,
  "chrome": true,
  "es6": true,
  "webextensions": true
},

# https://eslint.org/docs/latest/use/configure/configuration-files
# https://stackoverflow.com/questions/48584556/eslint-chrome-is-not-defined-no-undef
