body{
    background-color: #EAF6F6;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container{
    background-color: rgb(197, 233, 227);
    position: relative;
    padding-top: 100px;
}

.navbar {
    display: inline-block;
}

.name{
    color: #0b1f4d;
}

.magnifying-glass{
    height: 300px;
}

.bottom-container{
    background-color: #66BFBF;
    height: 100px;
}

.logo{
    border-radius: 100%;
    height: 250px;
    margin: 100px 0;
}

.intro{
    width: 30%;
    margin: auto;
}

.telephone{
    width: 25%;
}

.top-cloud{
    position: absolute;
    right:250px;
    top: 50px;
    }

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 200px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 4.25rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', serif;
    font-size: 1.25rem;
    color: #0b1f4d;
    font-weight: normal;

}

h3{
    color: #11999E;
}

p{
    line-height: 2;
}

hr{
    border: dotted;
    border-bottom: none;
    color: gray;
    width: 4%;
    margin: 100px auto;
}

.advanced-detection{
    width: 25%;
    margin: auto 0 auto 0;
    float: left;
    margin-right: 30px;
}

.effortless-analysis{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skills{
    text-align: center;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.contact-me{
    text-align: center;
    line-height: 2.5;
}

.coppywrite{
    color: #EAF6F6;
    margin-bottom: 0;
    font-size: 0.75rem;
    margin: 20px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

a{
    color: #108e92;
    font-family: 'Montserrat', serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}