
      body
      {
        background-color: aquamarine;
        width: 300px;
        height: 400px;
        padding: 20px;
      }
  
      .image1
      {
        float: left;
        width: 70px;
        height: 70px;
        padding: 10px;
        
      } 

      h1
      {
        text-align: center;
        /* padding: 10px; */
        color: rgb(15, 83, 219);
        font: Verdana;
      }

      .tital
      {
            padding: 5px;
        background-color: white;
        border-radius: 10px;
      }

      #product-details-container p {
        /* font-size: 16px; */
        color: #555;
        margin: 5px 0;
      }
      
      #product-details-container p span {
        font-weight: bold;
        color: #1a1a1a;
      }
      /* Style for the product image */
      #product-details-container #product-image {
        width: 100px;
        height: 100px;
        object-fit: contain;
        float: left;
        margin-right: 20px;
      }
      
      button {
      display: inline-block;
      padding: 7px 14px;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #1ad1ff;
      border: none;
      border-radius: 15px;
      box-shadow: 0 3px rgb(16, 14, 14);
      transition: background-color 0.2s ease-in-out;
    }

    button:hover {
      background-color: #0fa5c4;
    }

    #mid{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    }

    .image2{
      float: left;
      width: 100px;
      height: 100px;
      padding: 10px;
    }

    .cbutton{
      text-align: center;    
    }